@use 'library' as lib;

#content {
    .contentContainer {
        min-width: lib.$min_width;
        width: 100%;
    }
    .contentContainer:not(:first-of-type) {
        margin-top: 200px;
    }
    
    #eunbyeolShin {
        > div {
            font-size: lib.$font_tooBig;
        }
    }
    #skill {
        .skillBlock {
            width: max-content;
            font-size: lib.$font_big;
            text-align: center;
            
            display: inline-block;
            margin-right: 10px;
        }
    }
    #career {
        font-size: lib.$font_big;
    }
    #contact {
        font-size: lib.$font_smallBig;
        
        .row {
            width: 60%;
            margin: 0 auto;
        }
        .contactType {
            text-align: center;
        }
        .contactImg {
            display: block;
            width: 60%;
            margin: 0 auto 10px;
        }
    }
}

.star {
    font-size: lib.$font_tooBig;
    color: lib.$color_yellow_1;
}