@use 'library' as lib;

#content {
    overflow-x: auto;

    .contentContainer {
        min-width: lib.$min_width;
        width: 100%;
        min-height: 100vh;
        padding-top: 50px;
    }
    .contentContainer:not(:first-of-type) {
        margin-top: 200px;
    }
    
    #eunbyeolShin {
        > div {
            font-size: lib.$font_tooBig;
        }
    }
    #skill {
        width: 100%;
        height: 620px;

        .skillBlock {
            position: absolute;
            width: max-content;
            font-size: lib.$font_big;
            text-align: center;

            &#php {
                top: 66px;
                left: 88px;
            }
            &#laravel {
                top: 150px;
                left: 162px;
            }
            &#codeigniter {
                top: 284px;
                left: 0px;
            }
            &#linux {
                top: 151px;
                left: 405px;
            }
            &#aws {
                top: 243px;
                left: 308px;
            }
            &#mysql {
                top: 324px;
                left: 553px;
            }
            &#git {
                top: 132px;
                left: 759px;
            }
            &#html_css {
                top: 535px;
                left: 329px;
            }
            &#scss {
                top: 656px;
                left: 123px;
            }
            &#javascript {
                top: 631px;
                left: 428px;
            }
            &#jquery {
                top: 477px;
                left: 736px;
            }
            
            .star_1, .star_2, .star_3 {
                margin-bottom: 10px;
            }
            .star_1 {
                > i {
                    animation: starBlink_1 3s infinite;
                }
            }
            .star_2 {
                > i {
                    animation: starBlink_2 2.4s infinite;
                }
            }
            .star_3 {
                > i {
                    animation: starBlink_3 3.8s infinite;
                }
            }
        }
    }
    #career {
        font-size: lib.$font_big;
    }
    #contact {
        font-size: lib.$font_smallBig;
        
        .row {
            width: 60%;
            margin: 0 auto;
        }
        .contactType {
            text-align: center;
        }
        .contactImg {
            display: block;
            width: 60%;
            margin: 0 auto 10px;
        }
    }
    #astronaut {
        position: absolute;
        top: 70px;
        left: 400px;
        width: 320px;

        img {
            width: 100%;
        }
    }
}

@keyframes starBlink_1 {
    0% { color: lib.$color_yellow_1; }
    50% { color: transparent; }
    100% { color: lib.$color_yellow_1; }
}
@keyframes starBlink_2 {
    0% { color: lib.$color_yellow_1; }
    30% { color: transparent; }
    100% { color: lib.$color_yellow_1; }
}
@keyframes starBlink_3 {
    0% { color: lib.$color_yellow_1; }
    80% { color: transparent; }
    100% { color: lib.$color_yellow_1; }
}