@use 'library' as lib;

#header {
    .eachMenu {
        display: inline-block;
        line-height: lib.$header_height;
        text-align: center;
    }    
    .activeMenu {
        color: lib.$color_blue_1;
        // text-shadow: 0 0 10px lib.$color_blue_1,
        //             0 0 20px lib.$color_white;
    
        // text-shadow: 0 0 5px lib.$color_white,
        //             0 0 10px lib.$color_white,
        //             0 0 20px lib.$color_white,
        //             0 0 40px lib.$color_blue_1,
        //             0 0 80px lib.$color_blue_1,
        //             0 0 90px lib.$color_blue_1,
        //             0 0 100px lib.$color_blue_1,
        //             0 0 150px lib.$color_blue_1;
    }
}