@use 'library' as lib;

#side_menu {
    background: url("/silverstar_archive/siteLaravel/public/image/sideMenu_background.png") no-repeat center;

    .eachSideMenu {
        display: none;
        .eachMenu {
            width: 100%;
            height: 50px;

            &.activeMenu {
                color: lib.$color_blue_1;
            }
        }
    }
    > .activeMenu {
        display: table-cell;
        vertical-align: middle;
    }
}