.typingContainer {
  display: flex;
}

.typingCursor {
  display: inline-block;
  width: 3px;
  animation: typingBlink 0.8s infinite;
  background-color: #fff;
  margin: 0 0.1rem;
}
.typingCursor.typing {
  animation: none;
}

@keyframes typingBlink {
  0% {
    background-color: #fff;
  }
  49% {
    background-color: #fff;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #fff;
  }
}
